@font-face {
  font-family: 'MaPolice';
  src: url('/fonts/Azonix.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.azonix {
  font-family: 'MaPolice', sans-serif;
}
@font-face {
  font-family: 'MaPolice';
  src: url('/fonts/Redhawk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.redhawk {
  font-family: 'MaPolice', sans-serif;
}